.main{
    width: 80%;
    margin:0 auto;    
}
b{
    color: yellow;
}
h3{
    text-align: center;
}
img{
    border: 1px solid white;
    vertical-align: top;
}
textarea{
    vertical-align: top;
}
h4::before{
    content: "<";
    color: yellow;
}
h4::after{
    content: ">";
    color: yellow;
}
h3::before{
    content: '分P标题：';
    color: aquamarine;
}
div::before{
    content: "";
    display: block;
    margin-top: 1em;
}
.index_itself{
    position: fixed;
    right: 20px;
    top: 10px;
}